@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-mono;
}

.active {
    @apply bg-sky-500;
    border-radius: 5px;
  }

a:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
  